.social-icon li i {
  padding: 4px 15px;
  font-size: 40px;
}
.page-links ul {
  list-style-type: none;
  display: flex;
  font-size: 20px;
  float: right;
}
.social-icon {
  list-style-type: none;
  display: flex;
  position: absolute;
  right: 0;
}
@media screen and (max-width: 768px) {
  .foot-res {
    text-align: center;
  }
  .page-links ul {
    float: none;
    justify-content: center;
  }
  .social-icon {
    justify-content: center;
    position: static;
  }
}
