.rate {
  font-size: 20px;
}
.rate2 {
  margin-left: 10px;
  color: #eba603;
  font-weight: bold;
}
.color-t button {
  padding: 15px;
  border-radius: 20px;
  border: transparent;
}
.color-t .button_black {
  background-color: black;
}
.color-t .button_orange {
  background-color: orangered;
  margin-left: 20px;
}
.color-t .button_white {
  background-color: #c6bbbb;
  margin-left: 20px;
}
.size button {
  padding: 10px 60px;
  border: 2px solid transparent;
}
.size_M {
  margin-left: 12px;
}
.size_L {
  margin-left: 12px;
}
.size_XL {
  margin-left: 12px;
}
.size button:hover {
  border: 2px solid #eba603;
  transition: 0.5s;
}
.quantity .quantity_tag {
  width: 130px;
  cursor: pointer;
  background-color: #ddd;
  color: #111;
  padding: 0 16px;
  border: 2px solid #eba603;
  border-radius: 5px;
}
.addCart {
  background-image: linear-gradient(45deg, #f99500, #f99500d1);
  text-align: center;
  color: white;
  font-size: 22px;
  padding: 16px 0;
}
.fav {
  font-size: 20px;
  justify-content: center;
  display: flex;
}
.desc ul li i {
  margin-right: 10px;
}
